<div class="jumbotron">
	<h1>Ehrlich Lab Database</h1>
	<% if user_signed_in? %>
		# do something
	<% else %>
		<p>	
			<%= link_to "Request Access", new_user_registration_path, class: "btn btn-primary btn-sm" %> 
		</p>
	<% end %>
</div>
