<div class="jumbotron">
	<h1>Ehrlich Lab Database</h1>
	<p><button type="button" class="btn btn-primary btn-sm jumbotron-btn">Sign in</button>
	<%= link_to "Request access","#", class: "btn btn-primary btn-sm" %> </p>
</div>
